.container {
    position: relative;
    width: 80vw;
    height: 50vh;
    border: 1px solid black;
    padding: 0;
    margin: 40px;
    svg {
        // border: 1px solid red;
        border: none;
        margin: 0;
    }
}


line {
    stroke: #ccc;
}

circle {
    fill: #000;
    cursor: pointer;

    &.job {
        fill: red;
    }
    
    &.dataset {
        fill: white;
        stroke: grey;
        &:hover {
            stroke: black;
            stroke-width: 3px;
        }
        &.selected {
            fill: blue;
        }
    }

}

