@import "../styles/colors.scss";

.history-graph svg {

    .edges line,
    .edges path {
        stroke: $link-color;
        stroke-width: 3px;
        &.placeholder {
            stroke-dasharray: 2px 2px;
        }
    }

    .edges path {
        fill: transparent;
    }
    
    .nodes circle {
        cursor: pointer;
        stroke-width: 4px;
        stroke: $unselected-color;

        &.placeholder {
            fill: transparent;
            stroke: transparent;
        }

        &.job {
            fill: white;
            // stroke: white;
            stroke: $job-color;   
            &:hover {
                fill: $job-color;
                stroke: $job-color;
            }
            &.hoverselect {
                fill: $job-color;
                stroke: $job-color;
                stroke-width: 12px;
            }
        }
        
        &.dataset {
            // fill: $dataset-color;
            fill: white;
            &:hover {
                stroke: $dataset-color;
            }
            &.selected {
                fill: $dataset-color;
                stroke: $dataset-color;
            }
            &.hoverselect {
                fill: $dataset-color;
                stroke: $dataset-color;
                stroke-width: 12px;
            }
        }

        
    }

}    
