@import "../styles/colors.scss";

.history-graph svg {

    .links * {
        stroke: $link-color;
        stroke-width: 2px;
    }

    .links path {
        fill: none;
    }
    
    .nodes circle {
        cursor: pointer;
        stroke-width: 6px;
        stroke: $unselected-color;

        &.job {
            fill: $job-color;
            stroke: white;
        }
        
        &.dataset {
            // fill: $dataset-color;
            fill: white;
            &:hover {
                stroke: $dataset-color;
            }
            &.selected {
                fill: $dataset-color;
                stroke:$dataset-color;
            }
        }
    
    }

}    
