$grey: #999;
$link-color: #ccc;
$unselected-color: #ccc;

// domain colors
$dataset-color: deepskyblue;
$job-color:orange;// palegreen;
$doomed-color: orangered;
$tool-color: teal;
$ready-color: #87de87;

$shade: rgba(#ffffff, 0.5);
$darkshade: rgba(#000000, 0.5);