// form stuff
@import "./colors";


fieldset {
    display: block;
    margin: 0;
    padding: 0.5rem 0;
    border: none;

    input, label {
        display: block;
    }

    input {
        width: 100%;
        font-size: 1.2rem;
        outline: none;
        border: 0;
        padding: 0;
        background-color: transparent;
        &::placeholder {
            color: rgba(0,0,0,0.35);
            font-style: italic;
        }
    }
}

label {
    margin: 0.5rem 0;
    font-size: 9px;
    // text-transform: uppercase;
    font-family: Arial Black;
    color: rgba(0,0,0,0.5);
}