@import "./colors.scss";

.hover-selection {
    position: absolute;
    bottom: 2em;
    left: 2em;
    margin: 0;
    padding: 0;
    z-index: 2;

    > * {
        margin: 0;
        padding: 0;
    }
    h4 {
        color: lightgrey;
    }
    h1 {
        font-size: 1.4em;
        opacity: 0.5;
    }
    p {
        font-size: 0.8rem;
        font-style: italic;
        color: rgba(0,0,0,0.8);
    }

    &.dataset {
        h1 {
            color: $dataset-color;
        }
    }

    &.job {
        h1 {
            color: $job-color;
        }
    }
}