/*
div.history
    section.history-graph
        svg
    div.history-editor-panels
        section.dataset-selection
        section.tool-list
        section.tool-parameters
    section.hover-selection  
*/

@import "~animatewithsass/animate.scss";
@import "./colors";
@import "./mixins";

@import "./hoverSelection";

// click through the empty part of the
// panels container, but re-capture in the
// populated areas of the overlay
@mixin historyHandleClickThrough() {
    pointer-events: none;
    > section * {
        pointer-events: auto;
    }
}

@mixin boringSquareButton() {
    
    display: block;
    padding: 0.6em;
    
    margin-bottom: 4px;
    outline: none;
    
    font-size: 12px;
    text-decoration: none;    

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


// button lists
@mixin buttonDataTypes() {

    color: white;
    background-color: lightgrey;
    border-color: lightgrey;

    &:hover {
        background-color: black;
        border-color: black;
    }

    // link types

    &.dataset  {
        background-color: $dataset-color;
        border-color: $dataset-color;
        &:hover {
            background-color: $doomed-color;
            border-color: $doomed-color;
        }
    }
    
    &.dataset.hoverselect {
        color: $dataset-color;
        background-color: white;
    }
    
    &.tool {
        background-color: $job-color;
        border-color: $job-color;
        &:hover {
            background-color: $doomed-color;
            border-color: $doomed-color;
        }
    }

}


// Layout

body {
    margin: 0;
    @include typography();
}

main {
    height: 100vh;
}



// lists
ul, 
ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
    a {
        @include boringSquareButton();
        @include buttonDataTypes();
    }
}

// stand alone buttons
.button {
    @include boringSquareButton();
    @include buttonDataTypes();
    cursor: pointer;
    &.ready {
        background-color: $ready-color;
    }
    *.warn {
        background-color: $warning-color;
    }
}


// headlines

h4 {
    font-family: Arial Black;
    font-size: 0.7em;
    color: grey;
    margin-bottom: 0.5em;
}


.history {

    @include fill();
    overflow: hidden;

    // Container for the side-by-side graphs
    .history-graphs {
        
        @include fill();
        display: flex;
        z-index: 0;
        overflow: hidden;

        .history-graph {
            @include fill();
            flex: 1;
            position: relative;
            overflow: hidden;
            border-left: 1px dotted grey;

            &:last-child {
                flex: 2;
            }
        }
    }

    .history-editor-panels {

        // @include fill();
        @include historyHandleClickThrough();
        background-color: rgba(255,255,255,0.5);
        border-left: 1px dotted grey;

        z-index: 1;
        position: absolute;
        right: 0;
        top:0;
        height: 100vh;
        
        display: flex;
        justify-content: flex-end;
        
        padding: 1em;
        section {
            margin-left: 1em;
        }


        // Selection & Actions

        &.hide-dataset-selection .dataset-selection {
            display: none;
            @include fadeOut();
        }

        .dataset-selection {
            @include fadeIn();
            width: 160px;
        }

        // Tool List

        &.hide-tool-list .tool-list {
            @include fadeOut();
            width: 0;
            min-width: 0;
            max-width: 0;
        }
        
        .tool-list {
            @include scrollableContent(".content");
            @include fadeIn();
            min-width: 160px;
            max-width: 240px;
        }
        
        // Tool parameter form
        
        &.hide-tool-parameters .tool-parameters {
            display: none;
            @include fadeOut();
            max-width: 0;
        }

        .tool-parameters {
            @include fadeIn();
            max-width: 400px;
        }

    }


}

