@mixin fill() {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin typography() {
    font-family: Arial;
}


/*
container
    header (no flex)
    .content (flex, no scrollbars)
*/
@mixin scrollableContent($selector) {
    
    display: flex;
    flex-direction: column;
    
    // header is fixed
    header {
        flex: 0;
    }

    // content scrolls
    #{$selector} {
        flex: 1;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
